* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;  
  
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

body{
  min-height: 1000px;
}



